div{
    height: 200px;
    width: 500px;
    background-color: pink;
    margin-bottom: 20px;

    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-left-color: yellow;
    border-top-style: dotted;
    border-top-width: 5px;
    border-radius: 10px;
    padding-top: 15px;

    margin-top: 50px;
}
h1{
    border: 2px  dashed green;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;

}

#opacity{
    height: 200px;
    width: 200px;
    background-color: rgb(2, 10, 247,0.4);
    border: none;

}